body {
    font-family: Arial, Helvetica, sans-serif;
}
.theNow{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

input {
    width: 400px;
    padding: 20px;
    margin-bottom: 40px;
}

aside {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
    padding: 10vh;
    flex-basis: 50%;
    border-radius: 2px;
    border-style: solid;
    border-color: black;

}
.card {
    text-align: center;
    background-color: transparent;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
    flex:auto;
}
.future {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

